@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.grid-container {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  grid-template-rows: 100fr;
  grid-template-areas: "Main card";
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas: "." "loginCard" ".";
  grid-area: card;
}

.loginCard {
  grid-area: loginCard;
}

.Main {
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-areas: "title" ".";
  grid-area: Main;
}

.title {
  grid-area: title;
}
