<!--suppress HtmlFormInputWithoutLabel -->
<div class="row" style="height: 30px"></div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-3 col-sm-2 col-1"></div>
    <div class="col">
      <div class="container">
        <mat-card class="mat-elevation-z24">
          <div *ngIf="toggle" class="container justify-content-center">
            <!--      Title-->
            <div>
              <div class="row justify-content-center" style="margin: 5px">
                <h4>नई गतिविधि जोड़ें (Add activity)</h4>
              </div>
              <div class="row justify-content-end" style="margin-left: 100px">
                Or
                <div style="width: 5px"></div>
                <div (click)="toggle=false" class="link">add user feedback</div>
              </div>
            </div>

            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>गतिविधि (Title)</mat-label>
                <input [formControl]="titleCtrl" matInput>
              </mat-form-field>
            </div>

            <!--      Title English-->
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>गतिविधि (Title English)</mat-label>
                <input [formControl]="titleEngCtrl" matInput>
              </mat-form-field>
            </div>

            <!--      Img-->
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>Image</mat-label>
                <input [formControl]="imgCtrl" matInput>
              </mat-form-field>
            </div>

            <!--      Activity Type-->
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>साधन प्रकार:</mat-label>
                <mat-select [formControl]="activityTypeCtrl">
                  <mat-option [value]="0">गतिविधि</mat-option>
                  <mat-option [value]="1">वर्कशीट</mat-option>
                  <mat-option [value]="2">पाठ योजना</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!--      Subjects-->
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>Subjects</mat-label>
                <mat-select [formControl]="subjectsCtrl" multiple>
                  <mat-option *ngFor="let topping of subjects" [value]="topping">{{topping}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!--      English-->
            <div class="row" *ngIf="subjectsCtrl.value.includes('गणित')">
              <mat-form-field appearance="outline">
                <mat-label>गणित</mat-label>
                <mat-select [formControl]="mathCtrl" multiple>
                  <mat-option *ngFor="let topping of mathConcepts" [value]="topping">{{topping}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!--      Math-->
            <div class="row" *ngIf="subjectsCtrl.value.includes('भाषा')">
              <mat-form-field appearance="outline">
                <mat-label>भाषा</mat-label>
                <mat-select [formControl]="engCtrl" multiple>
                  <mat-option *ngFor="let topping of englishConcepts" [value]="topping">{{topping}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!--            Print-->
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>वर्कशीट प्रिंट</mat-label>
                <input [formControl]="printCtrl" matInput>
              </mat-form-field>
            </div>

            <!--      How to play-->
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>कैसे खेलें(Description)</mat-label>
                <textarea [formControl]="how2PlayCtrl" matInput></textarea>
              </mat-form-field>
            </div>

            <!--      How to play english-->
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>कैसे खेलें(Description-English)</mat-label>
                <textarea [formControl]="how2PlayEngCtrl" matInput></textarea>
              </mat-form-field>
            </div>

            <!--      Video link-->
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>कैसे खेलें(Youtube link)</mat-label>
                <input [formControl]="videoLinkCtrl" matInput>
              </mat-form-field>
            </div>

            <!--      Document link-->
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>गतिविधि संकल्पना/साधन (Material Required)</mat-label>
                <input [formControl]="documentLinkCtrl" matInput>
              </mat-form-field>
            </div>

            <!--      Levels-->
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>स्तर (grade)</mat-label>
                <mat-select [formControl]="levelsCtrl" multiple>
                  <mat-option *ngFor="let std of classes" [value]="std.value">
                    {{std.display}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>गतिविधि संकल्पना/साधन (tool)</mat-label>
                <mat-select [formControl]="toolCtrl">
                  <mat-option *ngFor="let tool of tools" [value]="tool">
                    {{tool}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!--      User-->
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>Submitted by:</mat-label>
                <input matInput disabled [value]="authName">
              </mat-form-field>
            </div>

            <div class="row justify-content-end">
              <mat-dialog-actions align="end">
                <button style="color: black" mat-button (click)="close()" mat-dialog-close>Cancel</button>
                <button style="color: green" mat-raised-button (click)="submitActivity()" cdkFocusInitial>
                  Submit
                </button>
              </mat-dialog-actions>
            </div>
          </div>

          <div *ngIf="!toggle" class="container-fluid">
            <div>
              <div class="row justify-content-center" style="margin: 5px">
                <h4>Add feedback</h4>
              </div>
              <div class="row justify-content-end" style="margin: 5px">
                Or
                <div style="width: 5px"></div>
                <div (click)="toggle=true" class="link">add an activity</div>
              </div>
            </div>

            <div class="row">
              <mat-form-field appearance="outline">
                <input [formControl]="dateCtrl" [matDatepicker]="picker" matInput placeholder="दिन (date)">
                <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>Image</mat-label>
                <input [formControl]="imageCtrl" matInput>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>केंद्र (center)</mat-label>
                <mat-select [formControl]="centerCtrl">
                  <mat-option *ngFor="let center of centers" [value]="center">
                    {{center}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-select [formControl]="volunteerCtrl">
                  <mat-option *ngFor="let vol of volunteers" [value]="vol">{{vol}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>गतिविधि का नाम (Activity title)</mat-label>
                <input [formControl]="titlexCtrl" [matAutocomplete]="auto" matInput>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>उपस्थिति (attendance)</mat-label>
                <input [formControl]="attendanceCtrl" matInput type="number">
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>उम्र- सबसे छोटे(Age- Youngest)</mat-label>
                <input [formControl]="ageOldestCtrl" matInput type="number">
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>म्र- सबसे बड़े(Age - Oldest)</mat-label>
                <input [formControl]="ageYoungestCtrl" matInput type="number">
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>दिलचस्पी (interest)</mat-label>
                <mat-select [formControl]="interestCtrl">
                  <mat-option *ngFor="let no of oneToTen" [value]="no">
                    {{no}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>ध्यान (attention)</mat-label>
                <mat-select [formControl]="attentionCtrl">
                  <mat-option *ngFor="let no of oneToTen" [value]="no">
                    {{no}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>अध्यापक के ध्यान देने की जरुरत(facilitators attention demand)</mat-label>
                <mat-select [formControl]="facCtrl">
                  <mat-option *ngFor="let no of oneToTen" [value]="no">
                    {{no}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>(खुदसे व्यस्त रखने की क्षमता)self-driven interest</mat-label>
                <mat-select [formControl]="selfCtrl">
                  <mat-option *ngFor="let no of oneToTen" [value]="no">
                    {{no}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!--      User-->
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>Submitted by:</mat-label>
                <input matInput disabled [value]="authName">
              </mat-form-field>
            </div>
            <div class="row justify-content-end">
              <mat-dialog-actions align="end">
                <button style="color: black" mat-button (click)="close()" mat-dialog-close>Cancel</button>
                <button style="color: green" mat-raised-button (click)="submitFeedback()" cdkFocusInitial>Submit</button>
              </mat-dialog-actions>
            </div>
          </div>
        </mat-card>
      </div>

    </div>
    <div class="col-lg-4 col-md-3 col-sm-2 col-1"></div>
  </div>
</div>
<div class="row" style="height: 30px">

</div>
<div class="bg"></div>
