.link {
  color: black;
  text-decoration: underline
}

.link:hover {
  color: darkcyan;
  text-decoration: underline;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
